<h1><%= image_tag(@painting.avatar_url)  %></h1>
<% if  current_user %>	
	<%= link_to "Edit Painting", edit_painting_path(@painting) %>
	<%= link_to "Delete Painting", @painting, method: :delete %>
<% end %>